$box-border-color: rgba(173, 173, 173, 0.25)
$box-border-radius: 10px
$box-background-color: $white
$box-background-transition1: 1
$box-background-transition2: 1
$background1-webp: "../../assets/images/half-scan-half-try-on_img.webp"
$background1-jpg:  "../../assets/images/half-scan-half-try-on_img.jpg"
$background2-webp: "../../assets/images/face-scan_img.webp"
$background2-jpg: "../../assets/images/face-scan_img.jpg"
$background3-webp: "../../assets/images/virtual-try-on_img.webp"
$background3-jpg: "../../assets/images/virtual-try-on_img.jpg"
  
/* Capabilities

.box
  box-shadow: 4px 4px 10px $box-border-color
  border-radius: $box-border-radius
  background-image: -moz-linear-gradient(top, rgba($box-background-color, $box-background-transition1), rgba($box-background-color, $box-background-transition2))
  background-image: -webkit-linear-gradient(top, rgba($box-background-color, $box-background-transition1), rgba($box-background-color, $box-background-transition2))
  background-image: -ms-linear-gradient(top, rgba($box-background-color, $box-background-transition1), rgba($box-background-color, $box-background-transition2))
  background-image: linear-gradient(top, rgba($box-background-color, $box-background-transition1), rgba($box-background-color, $box-background-transition2))
  max-width: 1172px
  margin: 0 auto

.no-webp .capabilities
  background-image: url($background1-jpg)

  &:nth-child(2)
    background-image: url($background2-jpg)

  &:nth-child(3)
    background-image: url($background3-jpg)

.capabilities
  -moz-align-items: center
  -webkit-align-items: center
  -ms-align-items: center
  align-items: center
  text-align: left
  display: grid
  grid-template-areas: 'cicon ci' 'ct ci' 'ccon ci' 'ccap ci'
  grid-template-columns: 65% 35%
  grid-gap: 10px
  margin: 2% 2% 0 2%
  background: url($background1-webp) no-repeat right bottom
  background-size: contain

  h3, p
    margin: 0

  .cicon
    grid-area: cicon
    align-self: end
    padding: 0 2%
    margin-top: 2em

  .title
    grid-area: ct
    align-self: end
    padding: 0 2%
    height: 3em

    h3
      font-size: 1.4em

  .content
    grid-area: ccon
    align-self: end
    font-weight: bold
    padding: 0 2%
    margin-bottom: 1em

  .image
    grid-area: ci
    margin: 0 auto 0
    display: none
    
    img
      max-width: 100%

  .caption
    grid-area: ccap
    align-self: start
    padding: 0 2%
    margin-bottom: 2em
    font-size: 0.8em

  &:nth-child(2)
    background-image: url($background2-webp)

  &:nth-child(3)
    background-image: url($background3-webp)

  &:nth-child(2n)
    grid-template-areas: 'ci cicon' 'ci ct' 'ci ccon' 'ci ccap' 
    grid-template-columns: 45% 55%
    text-align: right
    background-position: inherit

    .title, .content
      padding: 0 2%

@media screen and (max-width: 980px)
  .capabilities
    display: block
    text-align: center !important
    background-image: none !important

    &:nth-child(2n)
      text-align: center

    br
      display: none

    .title
      padding: 0
      margin: 0

    .image
      display: block
      width: 100%

      img
        display: block
        margin: 0 auto

    .content
      padding: 4em 3em 2em 3em
      max-width: none
      text-align: center
      width: 100%
      padding: 0

    .caption
      padding: 0

@media screen and (max-width: 736px)
  .capabilities
    text-align: center
    background-image: none !important

    &:nth-child(2n)
      text-align: center
    
    h3, p
      margin: 0 0 1em 0

    .content
      padding: 0

    .cicon
      padding-top: 1em

    .image
      display: block