/* Current Works */
.inner
  max-width: 1172px

.projects
  @include align-items(center)
  justify-items: center
  display: grid
  grid-template-areas: 'pt' 'pcap' 'pi' 'pco'
  grid-gap: 10px
  padding: 10px

  .title
    grid-area: pt
    padding: 0

  .caption
    grid-area: pcap
    text-align: center

  .image
    grid-area: pi
    margin: 0 0 1em

  .content
    grid-area: pco
    text-align: center
    padding: 0 10%

  h3
    margin: 1em 0 0 0

  .image img
    height: 55vh

@media screen and (max-width: 1280px)
  .projects .image img
    height: 33vh 

@media screen and (max-width: 980px)
  .projects
    display: block

    br
      display: none

    .title
      padding: 0
      margin: 0

    .caption
      padding: 0

    .image
      width: 100%

      .img
        height: auto
        max-width: 100%

    .content
      padding: 4em 3em 2em 3em
      text-align: center
      width: 100%
      padding: 0

@media screen and (max-width: 736px)
  .projects

    .content
      padding: 0

    .image img
      height: auto
      max-width: 100%