$background-gray: rgba($black, 0.2)
$image-border-radius: 14px
$image-border1-inner-color: none
$image-border1-outer-color: $bpl-blue-dark
$image-border2-inner-color: none
$image-border2-outer-color: $background-gray
$image-border3-inner-color: $bpl-blue
$image-border3-outer-color: $bpl-blue
    
/* Floating borders

.fb1::after
  content: ''
  height: 100%
  width: 100%
  position: absolute
  top: -4%
  left: 4%
  z-index: 1
  background-color: $image-border1-inner-color
  border-color: $image-border1-outer-color
  border-style: solid
  border-radius: $image-border-radius

.fb2::after
  content: ''
  height: 100%
  width: 100%
  position: absolute
  top: -4%
  left: -4%
  z-index: 1
  background-color: $image-border2-inner-color
  border-color: $image-border2-outer-color
  border-style: solid
  border-radius: $image-border-radius

.fb3::after
  content: ''
  height: 100%
  width: 100%
  position: absolute
  top: 4%
  left: 4%
  z-index: 1
  background-color: $image-border3-inner-color
  border-color: $image-border3-outer-color
  border-style: solid
  border-radius: $image-border-radius
