/* Global Variables
    
$bpl-blue: #1f8dcc
$bpl-blue-bright: #3E74EE
$bpl-blue-dark: #115c87
$bpl-blue-hover: #0096DC
$bpl-gray: #E8E8E8
$white: #ffffff
$black: #303030
$light-gray: #f7f7f7
$border-radius: 5px