$banner-background-color1: $white
$banner-background-color2: $white
$banner-background-gradient1: 1
$banner-background-gradient2: 0
$banner-gradient-direction: top

/* Landing

body.landing
  
  #banner
    background-image: -moz-linear-gradient($banner-gradient-direction, rgba($banner-background-color1, $banner-background-gradient1), rgba($banner-background-color2, $banner-background-gradient2))
    background-image: -webkit-linear-gradient($banner-gradient-direction, rgba($banner-background-color1, $banner-background-gradient1), rgba($banner-background-color2, $banner-background-gradient2))
    background-image: -mos-linear-gradient($banner-gradient-direction, rgba($banner-background-color1, $banner-background-gradient1), rgba($banner-background-color2, $banner-background-gradient2))
    background-image: linear-gradient($banner-gradient-direction, rgba($banner-background-color1, $banner-background-gradient1), rgba($banner-background-color2, $banner-background-gradient2))
    background-attachment: fixed
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

  #page-wrapper
    background: none
