/* Capabilities

.title
  grid-area: title
  padding: 10% 0 0

.content
  grid-area: content
  text-align: left
  padding: 0 10% 50%

.image
  grid-area: image
  margin: none

  &:hover
    transform: scale(1.02)

.caption
  grid-area: caption

.capabilities
  -moz-align-items: center
  -webkit-align-items: center
  -ms-align-items: center
  align-items: center
  justify-items: center
  display: grid
  grid-template-areas: 'image title' 'image content' 'caption content'
  grid-template-columns: 50% 50%
  grid-gap: 10px
  padding: 10px

  h3
    margin-top: 1em

  .image img
    border-radius: 14px
    max-width: 100%

  &:nth-child(2n)
    grid-template-areas: 'title image' 'content image' 'content caption'
    grid-template-columns: 50% 50%

@media screen and (max-width: 980px)
  .capabilities
    display: block

    br
      display: none

    .title
      padding: 0
      margin: 0

    .image
      width: 100%

    .content
      padding: 4em 3em 2em 3em
      max-width: none
      text-align: center
      width: 100%
      padding: 0

    .caption
      padding: 0

@media screen and (max-width: 736px)
  .capabilities .content
    padding: 0
