@import 'global'
$main-text-color: $black
$h2-text-color: $black
$h3-text-color: $bpl-blue-bright
$h3-font-size: 1.4em
$h4-font-size: 1.2em
$light-text-color: rgba($main-text-color, 0.075)
$border-color: $bpl-blue-bright
$background1-color: #ffffff
$background2-color: #fafafa

@import 'landing'

/* Wrapper 1,2 */

@mixin common-settings
  
  background-position: bottom
  background-repeat: no-repeat
  background-size: 100% auto
  color: $main-text-color
  
  strong, b, h1, h2, h4, h5, h6
    color: $main-text-color

  h3 
    color: $h3-text-color
    font-size: $h3-font-size

  h4
    font-size: $h4-font-size
    text-transform: uppercase

  blockquote
    border-color: $border-color
  
  code
    background: $light-text-color

  header
    p
      color: $main-text-color
    
    &.major
      h4, h5, h6
        border-color: $main-text-color

      h2
        color: $h2-text-color
        border-color: $h2-text-color
      
      p
        color: $main-text-color

.wrapper

  &.style1
    background: $background1-color
    @include common-settings
  
  &.style2
    background: $background2-color
    @include common-settings

@import 'banner'
@import 'about-us'
@import 'capabilities'
@import 'current-works'
@import 'cta'