$bpl-blue: #1f8dcc
$main-background-color: rgba(255, 255, 255, 0.5)
$main-text-color: #094161
$horizontal-line-color: #dfdfdf
$code-background-color: rgba(0, 0, 0, 0.0375)
$header-text-color: #8E8892
$header-major-header-text-color: #dfdfdf
$header-major-text-color: #094161
$label-text-color: #094161
$input-background-color: rgba(144, 144, 144, 0.25)
$input-select-before-color: #dfdfdf
$input-text-color: #000000
$input-checked-before-background-color: $bpl-blue
$input-checked-before-text-color: #ffffff
$input-box-shadow-color: #dfdfdf
$input-button-text-color: #094161
$input-hover-background-color: rgba(0, 0, 0, 0.0375)
$input-active-background-color: rgba(0, 0, 0, 0.1)
$placeholder-text-color: $bpl-blue
$icon-list-border-color: #dfdfdf
$table-border-color: #dfdfdf
$table-2nd-background-color: rgba(0, 0, 0, 0.0375)
$table-header-text-color: #094161
$table-alt-border-color: #dfdfdf
$button-box-shadow-color: #dfdfdf
$button-text-color: #094161
$button-hover-background-color: rgba(0, 0, 0, 0.0375)
$button-active-background-color: rgba(0, 0, 0, 0.1)

/* Wrapper Pages and Posts

.wrapper.page-post
  background-color: $main-background-color
  color: $main-text-color

  strong, b, h2, h3, h4, h5, h6
    color: $main-text-color

  hr, blockquote
    border-color: $horizontal-line-color

  code
    background: $code-background-color

  header
    p
      color: $header-text-color

    &.major
      h2, h3, h4, h5, h6
        border-color: $header-major-header-text-color

      p
        color: $header-major-text-color

  label
    color: $label-text-color

  input
    &[type="text"], &[type="password"], &[type="email"]
      background: $input-background-color

  select, textarea
    background: $input-background-color

  .select-wrapper::before
    color: $input-select-before-color

  input
    &[type="checkbox"] + label, &[type="radio"] + label
      color: $input-text-color

    &[type="checkbox"] + label::before, &[type="radio"] + label::before
      background: $input-background-color

    &[type="checkbox"]:checked + label::before, &[type="radio"]:checked + label::before
      background: $input-checked-before-background-color
      color: $input-checked-before-text-color

  \::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder
    color: $placeholder-text-color !important
    font-weight: bold

  .icon.major, ul.alt li
    border-color: $icon-list-border-color

  table
    tbody tr
      border-color: $table-border-color

      &:nth-child(2n + 1)
        background-color: $table-2nd-background-color

    th
      color: $table-header-text-color

    thead, tfoot, &.alt tbody tr td
      border-color: $table-alt-border-color

  input
    &[type="submit"], &[type="reset"], &[type="button"]
      box-shadow: inset 0 0 0 2px $input-box-shadow-color
      color: $input-button-text-color

  button, .button
    box-shadow: inset 0 0 0 2px $button-box-shadow-color
    color: $button-text-color

  input
    &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover
      background-color: $input-hover-background-color

  button:hover, .button:hover
    background-color: $button-hover-background-color

  input
    &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active
      background-color: $input-active-background-color

  button:active, .button:active
    background-color: $button-active-background-color
