<!-- One -->
		<section id="about-us" class="wrapper style1 special" style="background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./assets/images/testb.jpg);background-position:center top;height:100vh;background-size:auto;">
			<div class="inner" style="padding:10% 0;">
				<h1 style="color:black;text-shadow: 1px 1px 1px white;">To offer the most effective tool to open a whole new world in vision</h1>
				<h3 style="color:black;text-shadow: 1px 1px 1px white;">We are a software development startup that specializes in delivering solutions that enhance the eyewear buying experience.</h3>
				<a href="#capabilities" class="button special">Capabilities</a>
				<br>
				<a href="./news" class="button">News</a>
			</div>
		</section>