<!-- Banner -->
<section id="banner">
	<div class="banner-grid">
		<picture>
			<source srcset="./assets/images/logo.webp" type="image/webp">
			<source srcset="./assets/images/logo.jpg" type="image/jpeg">
			<img src="./assets/images/logo.jpg" class="logo" alt="BluePrintLAB Logo">
		</picture>
		<h1>Try&nbsp;Everything&nbsp;you&nbsp;imagine</h1>
		<br />
		<p>TRY&nbsp;<span>WeAR</span></p>

		<ul class="actions">
			<li>
				<a href="https://vto.blueprint-lab.com/s3-wear/examples/web/index.html" class="button special small" target="_blank" >Demo</a>
			</li>
		</ul>
	</div>
</section>