<!-- Banner -->
		<section id="banner">
			<div class="banner-grid">
				<picture>
					<source data-srcset="./assets/images/logo.webp" type="image/webp">
					<source data-srcset="./assets/images/logo.jpg" type="image/jpeg">
					<img data-src="./assets/images/logo.jpg" class="lazyload logo">
				</picture>>
				<p>Designing Solutions to Fit You</p>
				<div class="resp-containerv">
					<iframe title="V2 Demo Video" class="resp-iframev" src="demo.html"></iframe>
				</div>
				<br />
				<ul class="actions">
					<li>
						<a href="#cta" class="button special small">Contact Us</a>
						<a href="#about-us" class="button fit more">About Us</a>
					</li>
				</ul>
			</div>
		</section>