<!-- Banner -->
<section id="banner">
	<div class="banner-grid">
		<picture>
			<source srcset="./assets/images/logo.webp" type="image/webp">
			<source srcset="./assets/images/logo.jpg" type="image/jpeg">
			<img src="./assets/images/logo.jpg" class="logo">
		</picture>>
		<p>Designing&nbsp;Solutions <br />to&nbsp;Fit&nbsp;You</p>
		<div class="resp-containerv">
			<iframe title="V2 Demo Video" class="resp-iframev" src="demo.html"></iframe>
		</div>
		<br />
		<ul class="actions">
			<li>
				<a href="#cta" class="button special small">Contact Us</a>
				<a href="#about-us" class="button fit">About Us</a>
			</li>
		</ul>
	</div>
</section>