<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>BluePrintLAB</h2>
		<p>BluePrintLAB test site<br>
		<br>Introduction words blah blah blah</p>
		<iframe height=480 width=220 src="https://www.youtube.com/embed/k2fGg1lTKIw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<br>
		<ul class="actions">
			<li><a href="/contact" class="button small">Contact Us</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
