<!-- Two -->
<section id="capabilities" class="wrapper style2 special scroll-effect1">
	<div class="inner">
		<header>
			<h2>Our Capabilities</h2>
		</header>
		<div class="box">
			<div class="capabilities">
				<div class="cicon">
					<picture>
						<source data-srcset="./assets/images/facial-scanning_ic.webp" type="image/webp">
						<source data-srcset="./assets/images/facial-scanning_ic.jpg" type="image/jpeg">
						<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 108 108'%3E%3C/svg%3E" class="lazyload icon" alt="Facial Scanning Icon">
					</picture>
				</div>
				<div class="title">
					<h3>3D Facial Scanning</h3>
				</div>
				<div class="content">
					<p>We utilize 3D facial scanning to create user experiences that are both useful and fun</p>
				</div>
				<div class="image">
					<picture>
						<source data-srcset="./assets/images/half-scan-half-try-on_img.webp" type="image/webp">
						<source data-srcset="./assets/images/half-scan-half-try-on_img.jpg" type="image/jpeg">
						<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 586 503'%3E%3C/svg%3E" class="lazyload" alt="Half Scan / Half Try On Image">
					</picture>
				</div>
				<div class="caption">
					<p>With precise 3D facial scans we create virtual try ons, recommendations, and custom 3D printed eyewear</p>
				</div>
				<hr class="mobile-only">
			</div>
			<div class="capabilities">
				<div class="cicon">
					<picture>
						<source data-srcset="./assets/images/algorithm_ic.webp" type="image/webp">
						<source data-srcset="./assets/images/algorithm_ic.jpg" type="image/jpeg">
						<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 108 108'%3E%3C/svg%3E" class="lazyload icon" alt="Algorithm Icon">
					</picture>
				</div>
				<div class="title">
					<h3>AI Algorithms</h3>
				</div>
				<div class="content">
					<p>We find creative new ways to employ artificial intelligence, such as recommending glasses that best fit your face</p>
				</div>
				<div class="image">
					<picture>
						<source data-srcset="./assets/images/face-scan_img.webp" type="image/webp">
						<source data-srcset="./assets/images/face-scan_img.jpg" type="image/jpeg">
						<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 586 558'%3E%3C/svg%3E" class="lazyload" alt="Face Scan Image">
					</picture>
				</div>
				<div class="caption">
					<p>Get eyewear recommendations based on your face’s size, shape and features</p>
				</div>
				<hr class="mobile-only">
			</div>
			<div class="capabilities">
				<div class="cicon">
					<picture>
						<source data-srcset="./assets/images/virtual-try-on_ic.webp" type="image/webp">
						<source data-srcset="./assets/images/virtual-try-on_ic.jpg" type="image/jpeg">
						<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 108 108'%3E%3C/svg%3E" class="lazyload icon" alt="Virtual Try On Icon">
					</picture>
				</div>
				<div class="title">
					<h3>Virtual Try On</h3>
				</div>
				<div class="content">
					<p>We utilize real-time 3D facial scanning and augmented reality (AR) technology to create a realistic try on experience with 3D rendered products</p>
				</div>
				<div class="image">
					<picture>
						<source data-srcset="./assets/images/virtual-try-on_img.webp" type="image/webp">
						<source data-srcset="./assets/images/virtual-try-on_img.jpg" type="image/jpeg">
						<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 499 503'%3E%3C/svg%3E" class="lazyload" alt="Virtual Try On Image">
					</picture>
				</div>
				<div class="caption">
					<p>Try on realistic, size-accurate eyewear through a virtual mirror</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<a href="#current-works" class="button special mobile-only mobile-float">Current Works</a>
</section>