<!-- CTA -->
<link rel="preload" href="{{ "/assets/css/cta.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/cta.css" | relative_url }}" /></noscript>
<section id="cta" class="wrapper style3">
	<div class="inner">
		<header>
			<h2>Contact Us</h2>
			<p>We look forward to your business, media, and employment inquiries.</p>
		</header>
		<div class="actions vertical">
			<a href="./contact" class="button special fit">Email</a>
			<br />
			<p>Phone:<br />+82 (70) 7526-6897</p>
		</div>
	</div>
</section>