<!-- Three -->
<section id="current-works" class="wrapper style1 special scroll-effect1">
	<div class="inner">
		<header>
			<h2>Current Works</h2>
		</header>
		<div class="projects">
			<div class="title">
				<h3>MASQ SeeOSK (Offline/USA)</h3>
			</div>
			<div class="caption">
				<h4>No more waiting and wandering</h4>
			</div>
			<div class="image">
				<picture>
					<source data-srcset="./assets/images/masq_img.webp" type="image/webp">
					<source data-srcset="./assets/images/masq_img.jpg" type="image/jpeg">
					<img src="./assets/images/masq_img.jpg" class="lazyload" alt="MASQ SeeOSK Image">
				</picture>
			</div>
			<div class="content">
				<p>Instead of waiting or searching around, customers quickly try on multiple frames themselves and pick out their favorites.</p>
			</div>
		</div>
		<div class="projects">
			<hr>
			<div class="title">
				<h3>HotSunglass HiFit (Online/Korea)</h3>
			</div>
			<div class="caption">
				<h4>Fast and fun with less returns</h4>
			</div>
			<div class="image">
				<picture>
					<source data-srcset="./assets/images/hotsunglass_img.webp" type="image/webp">
					<source data-srcset="./assets/images/hotsunglass_img.jpg" type="image/jpeg">
					<img src="./assets/images/hotsunglass_img.jpg" class="lazyload" alt="HotSunglass HiFit Image">
				</picture>
			</div>
			<div class="content">
				<p>Customers get recommendations based on their facial features and preferences then have a realistic size-accurate try on experience before buying online.</p>
			</div>
		</div>
		<div class="projects">
			<hr>
			<div class="title">
				<h3>McLaren Ultimate Vision (Offline/EU, US)</h3>
			</div>
			<div class="caption">
				<h4>Create custom 3D printed eyewear</h4>
			</div>
			<div class="image">
				<picture>
					<source data-srcset="./assets/images/mclaren_img.webp" type="image/webp">
					<source data-srcset="./assets/images/mclaren_img.jpg" type="image/jpeg">
					<img src="./assets/images/mclaren_img.jpg" class="lazyload" alt="McLaren Ultimate Vision Image">
				</picture>
			</div>
			<div class="content">
				<p>Pick shapes, colors, textures, lenses, and engraving to make a bespoke pair of McLaren glasses or sunglasses. The frames are 3D printed with titanium matched to a 3D facial scan for a perfect fit.</p>
			</div>
		</div>
	</div>
<br>
<a href="#cta" class="button special small mobile-only mobile-float">Contact Us</a>
</section>