<!-- Three -->
		<section id="current-works" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Current Works</h2>
				</header>
				<h3>MASQ SeeOSK (Offline/USA)</h3>
				<p>No more waiting and wandering</p>
				<figure>
					<source data-srcset="./assets/images/450sq.webp" type="image/webp">
					<source data-srcset="./assets/images/450sq.jpg" type="image/jpeg">
					<img data-src="./assets/images/450sq.jpg" class="lazyload" style="width:100%">
					<figcaption>Instead of waiting or searching around, customers quickly try on multiple frames themselves and pick out their favorites.</figcaption>
				</figure>
				<hr>
				<h3>HotSunglass HiFit (Online/Korea)</h3>
				<p>Fast and fun with less returns</p>
				<figure>
					<source data-srcset="./assets/images/450sq.webp" type="image/webp">
					<source data-srcset="./assets/images/450sq.jpg" type="image/jpeg">
					<img data-src="./assets/images/450sq.jpg" class="lazyload" style="width:100%">
					<figcaption>Customers get recommendations based on their facial features and preferences then have a realistic size-accurate try on experience before buying online.</figcaption>
				</figure>
			</div>
			<br>
			<a href="#cta" class="button special small">Contact Us</a>
		</section>