<!-- Footer -->
<footer id="footer">
    <section class="icons">
        {% if site.linkedin_url %}<a href="{{ site.linkedin_url }}" class="icon" target="_blank">
            <picture>
                <source data-srcset="{{site.baseurl}}/assets/images/linkedin.webp" type="image/webp">
                <source data-srcset="{{site.baseurl}}/assets/images/linkedin.jpg" type="image/jpeg">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3C/svg%3E" class="lazyload" alt="BluePrintLAB LinkedIn">
            </picture>
        </a>{% endif %}
        {% if site.instagram_url %}<a href="{{ site.instagram_url }}" class="icon" target="_blank">
            <picture>
                <source data-srcset="{{site.baseurl}}/assets/images/instagram.webp" type="image/webp">
                <source data-srcset="{{site.baseurl}}/assets/images/instagram.jpg" type="image/jpeg">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3C/svg%3E" class="lazyload" alt="BluePrintLAB Instagram">
            </picture>
        </a>{% endif %}
        {% if site.facebook_url %}<a href="{{ site.facebook_url }}" class="icon" target="_blank">
            <picture>
                <source data-srcset="{{site.baseurl}}/assets/images/facebook.webp" type="image/webp">
                <source data-srcset="{{site.baseurl}}/assets/images/facebook.jpg" type="image/jpeg">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3C/svg%3E" class="lazyload" alt="BluePrintLAB Facebook">
            </picture>
        </a>{% endif %}
        {% if site.slack_url %}<a href="{{ site.slack_url }}" class="icon" target="_blank">
            <picture>
                <source data-srcset="{{site.baseurl}}/assets/images/slack.webp" type="image/webp">
                <source data-srcset="{{site.baseurl}}/assets/images/slack.jpg" type="image/jpeg">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3C/svg%3E" class="lazyload" alt="BluePrintLAB Slack">
            </picture>
        </a>{% endif %}
    </section>
    <ul class="copyright">
        <li>&copy; {{ site.title }}</li>
    </ul>
</footer>
<!-- Scripts -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>