<!-- Footer -->
		<footer id="footer">
			<section class="icons">
				{% if site.linkedin_url %}<a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a>{% endif %}
				{% if site.instagram_url %}<a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a>{% endif %}
				{% if site.facebook_url %}<a href="{{ site.facebook_url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a>{% endif %}
				{% if site.twitter_url %}<a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a>{% endif %}
				{% if site.slack_url %}<a href="{{ site.slack_url }}" class="icon fa-slack" target="_blank"><span class="label">Slack</span></a>{% endif %}
				{% if site.github_url %}<a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a>{% endif %}
				{% if site.gitlab_url %}<a href="{{ site.gitlab_url }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a>{% endif %}
				{% if site.pinterest_url %}<a href="{{ site.pinterest_url }}" class="icon fa-pinterest" target="_blank"><span class="label">Pinterest</span></a>{% endif %}
				{% if site.500px_url %}<a href="{{ site.500px_url }}" class="icon fa-500px" target="_blank"><span class="label">500px</span></a>{% endif %}
			</section>
			<ul class="copyright">
				<li>&copy; {{ site.title }}</li>		
			</ul>
		</footer>
		<!-- Scripts -->
		<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
		<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>