<!-- Header -->
<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
	<div>
		<a href="{{ "" | absolute_url }}">
			<picture>
				<source srcset="{{site.baseurl}}/assets/images/logo.webp" type="image/webp">
				<source srcset="{{site.baseurl}}/assets/images/logo.jpg" type="image/jpeg">
				<img src="{{site.baseurl}}/assets/images/logo.jpg" class="">
			</picture>
		</a>
		<nav id="nav">
			<ul>
				<li><a href="{{site.baseurl}}/#about-us" class="navLinks">About Us</a></li>
				<li><a href="{{site.baseurl}}/#capabilities" class="navLinks">Capabilities</a></li>
				<li><a href="{{site.baseurl}}/#current-works" class="navLinks">Current Works</a></li>
				<li><a href="{{site.baseurl}}/#cta" class="navLinks">Contact Us</a></li>
				<li class="special">
					<a href="#menu" class="menuToggle"></a>
					<div id="menu">
						<ul>
							{% for page in site.pages %}{% if page.layout == "default" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %}{% endfor %}{% assign sorted_pages = site.pages | sort:"order" %}{% for node in sorted_pages %}{% if node.layout == "page" %}{% unless node.order == 0 %}
							<li><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
							{% endunless %}{% endif %} {% endfor %}
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</header>