<meta name="description" content="BluePrintLAB specializes in designing software solutions that utilize 3D scanning, augmented reality (AR), and artificial intelligence (AI).">
<link rel="canonical" href="https://www.blueprint-lab.com"/>
<link rel="shortcut icon" type="image/x-icon" href="{{ "./favicon.ico" | relative_url }}">
<title>{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="BluePrintLAB Inc. - Virtual Try On eyewear solutions">
<meta property="og:description" content="BluePrintLAB specializes in designing software solutions that utilize 3D scanning, augmented reality (AR), and artificial intelligence (AI).">
<meta property="og:image" content="https://www.blueprint-lab.com/assets/images/logo.jpg">
<meta property="og:url" content="https://www.blueprint-lab.com">
<!-- End Open Graph -->

<!-- Naver Site Verification -->
<meta name="naver-site-verification" content="3e61fb808aabe54d6e3fbda4ca81d5aaa09c2680" />
<!-- End Naver Site Verification -->

<!-- Lazy Load Images -->
<script src="{{ "./assets/js/lazysizes.min.js" | relative_url }}" async></script>
<!-- End Lazy Load Images -->

<!-- Modernizr -->
<script src="{{ "./assets/js/modernizr-custom.js" | relative_url }}" async></script>
<script>
  Modernizr.on('webp', function (result) {
    if (result) {
      // supported
    } else {
      // not-supported
    }
  });
</script>
<!-- End Modernizr -->

<!-- Google Tag Manager -->
<script>
  (function(w,d,s,l,i){
    w[l]=w[l]||[];w[l].push({
      'gtm.start': new Date().getTime(), event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0], j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
  (window,document,'script','dataLayer','GTM-WJHC5Q4');
  </script>
<!-- End Google Tag Manager -->

<!-- LoadCSS -->
<script src="{{ "./assets/js/loadcss.js" | relative_url }}" async></script>
<!-- End LoadCSS -->

<link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" /></noscript>
<link rel="preload" href="{{ "/assets/css/fonts.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/fonts.css" | relative_url }}" /></noscript>