<head>
  <!-- Lazy Load Images -->
  <script src="./assets/js/lazysizes.min.js" async></script>
  <!-- End Lazy Load Images -->
  <!-- Modernizr -->
  <script src="./assets/js/modernizr-custom.js" async></script>
  <script async>
    Modernizr.on('webp', function (result) {
      if (result) {
        // supported
      } else {
        // not-supported
      }
    });
  </script>
  <!-- End Modernizr -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101404317-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-101404317-1');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){
      w[l]=w[l]||[];w[l].push({
        'gtm.start': new Date().getTime(),
        event:'gtm.js'
      });
      var f=d.getElementsByTagName(s)[0]
        , j=d.createElement(s)
        , dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
    }
    )(window,document,'script','dataLayer','GTM-WJHC5Q4');
  </script>
  <!-- End Google Tag Manager -->
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="BluePrintLAB Inc. (주)블루프린트랩">
  <meta property="og:description" content="BluePrintLAB specializes in designing software solutions that utilize 3D scanning, 3D printing, and artificial intelligence (AI).">
  <meta property="og:image" content="https://www.blueprint-lab.com/banner.jpg">
  <meta property="og:url" content="https://www.blueprint-lab.com">
  <!-- End Open Graph -->
  <meta name="description" content="BluePrintLAB specializes in designing software solutions that utilize 3D scanning, 3D printing, and artificial intelligence (AI).">
  <link rel="canonical" href="https://www.blueprint-lab.com"/>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | relative_url }}" />
</head>