<!-- Two -->
		<section id="two" class="wrapper style2 special">
			<div class="inner">
				<header class="major">
					<h2>Our Capabilities</h2>
				</header>
				<ul class="features">
					<li class="icon fa-cubes">
						<h3>3D Rendering</h3>
						<p>Our designers create detailed 3D renders to create photo realistic models</p>
					</li>
					<li class="icon fa-user">
						<h3>3D Face Scanning</h3>
						<p>We utilize 3D facial scanning to create user experiences that are both useful and fun</p>
					</li>
					<li class="icon fa-code">
						<h3>AI Algorithms</h3>
						<p>We find creative new ways to employ AI, such as recommending glasses that best fit your face</p>
					</li>
				</ul>
			</div>
		</section>