<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>To offer the most effective tool to open a whole new world in vision</h2>
					<p>We are a software development company that specializes in developing eyewear virtual try on solutions for eyewear brands and retailers. Our virtual try-on solutions use 3D facial scanning and AI to quickly match and recommend frames to individuals face shapes. Customers can try on several frames that fit in seconds. With our expertise in 3D rendering, customers experience the most realistic and accurate virtual frames. BluePrintLAB delivers solutions that will enhance the eyewear buying experience for your customers.</p>
				</header>
				<ul class="icons major">
					<li>
						<span class="icon fa-desktop major style1">
							<span class="label">Computers</span>
						</span>
					</li>
					<li>
						<span class="icon fa-exchange major style1">
							<span class="label">connect with</span>
						</span>
					</li>
					<li>
						<span class="icon fa-user major style1">
							<span class="label">Users</span>
						</span>
					</li>
				</ul>
			</div>
		</section>