<!-- Four -->
<section id="four" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Our Team</h2>
			<p>We are an international team from diverse backgrounds working together to design better user experiences for the world.</p>
		</header>
		<table align=center>
			<tr>
				<th>CEO</th>
				<th>CTO</th>
				<th>Marketer</th>
			</tr>
			<tr>
				<td><img src=/assets/images/charlie.png></td>
				<td><img src=/assets/images/jaeseob.png></td>
				<td><img src=/assets/images/jinston.png></td>
			</tr>
			<tr>
				<td>specs</td>
				<td>specs</td>
				<td>specs</td>
			</tr>
		</table>
	</div>
</section>
