<!-- Two -->
		<section id="two" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Our Capabilities</h2>
				</header>
				<div class="spotlight">
					<div class="title">
						<h3>3D Rendering</h3>
					</div>
					<div class="content">
						<p>Our designers create detailed 3D renders to create photo-realistics models</p>
					</div>
					<div class="image">
						<figure>
							<source data-srcset="./assets/images/450sq.jpg" type="image/jpeg">
							<img data-src="./assets/images/450sq.jpg" class="lazyload">
							<figcaption>3D render (left) and photo (right)</figcaption>
						</figure>
					</div>
				</div>
				<div class="spotlight">
					<div class="title">
						<h3>3D Facial Scanning</h3>
					</div>
					<div class="content">
						<p>We utilize 3D facial scanning to create user experiences that are both useful and fun</p>
					</div>
					<div class="image">
						<figure>
							<source data-srcset="./assets/images/450sq.jpg" type="image/jpeg">
							<img data-src="./assets/images/450sq.jpg" class="lazyload">
							<figcaption>Try on realistic, size-accurate eyewear through a virtual mirror experience</figcaption>
						</figure>
					</div>
				</div>
				<div class="spotlight">
					<div class="title">
						<h3>AI Algorithms</h3>
					</div>
					<div class="content">
						<p>We find creative new ways to employ AI, such as recommending glasses that best fit your face</p>
					</div>
					<div class="image">
						<figure>
							<source data-srcset="./assets/images/450sq.jpg" type="image/jpeg">
							<img data-src="./assets/images/450sq.jpg" class="lazyload">
							<figcaption>Get eyewear recommendations based on your face’s size, shape and features</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<br>
			<a href="#three" class="button special">Current Works</a>
		</section>