<!-- Four -->
		<section id="four" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Our Team</h2>
					<p>We are an international team from diverse backgrounds working together to design better user experiences for the world.</p>
				</header>
        		<div class="grid-container">
            		<div>
						<div>
							<b>CEO</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/charlie-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/charlie.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/charlie-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/charlie.jpg alt="Charlie" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Charlie Shin</b><br />Former&nbsp;Big&nbsp;Data, Onse&nbsp;Telecom<br />MBA, University&nbsp;of Delaware
						</div>
					</div>
					<div>
						<div>
							<b>CTO</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/jaeseob-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/jaeseob.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/jaeseob-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/jaeseob.jpg alt="Jaeseob" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Jaeseob Hwang</b><br />Former&nbsp;Intranet Solutions&nbsp;Dev,<br />Ministry&nbsp;of National&nbsp;Defense
						</div>
					</div>
		    		<div>
						<div>
							<b>Marketer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/jinston-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/jinston.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/jinston-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/jinston.jpg alt="Jinston" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Jinston Chung</b><br />Marketing, PR, SEO, Product Manager<br />
							<p class="desktop" style="margin: 0">International Studies, Korea University</p>
							<p class="mobile" style="margin: 0">Int’l Studies, Korea University</p>
						</div>
					</div>
					<div>
						<div>
							<p class="desktop" style="margin: 0"><b>Business Development</b></p>
							<p class="mobile" style="margin: 0"><b>Bus. Dev.</b></p>
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/jinsung-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/jinsung.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/jinsung-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/jinsung.jpg alt="Jin Sung" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Jin Sung Kim</b><br />Sales, PR, Product Manager<br />University at Buffalo
						</div>
					</div>
            		<div>
						<div>
							<b>Developer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/khanh-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/khanh.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/khanh-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/khanh.jpg alt="Khanh" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Vu Nam Khanh</b><br />iOS Development<br />MS&nbsp;Computer Science, Yonsei&nbsp;University
						</div>
					</div>
					<div>
						<div>
							<b>Developer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/sangmo-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/sangmo.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/sangmo-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/sangmo.jpg alt="Sangmo" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Sangmo Ku</b><br />Infrastructure,<br />Back-end&nbsp;Dev
						</div>
					</div>
					<div>
						<div>
							<b>Developer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/jihye-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/jihye.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/jihye-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/jihye.jpg alt="Jihye" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Jihye Kim</b><br />iOS Development<br />Facial&nbsp;Recognition, API&nbsp;Dev
						</div>
					</div>
					<div>
						<div>
							<b>Developer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/jaeheung-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/jaeheung.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/jaeheung-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/jaeheung.jpg alt="Jaeheung" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Jaeheung Jo</b><br />iOS Development
						</div>
					</div>
					<div>
						<div>
							<b>Designer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/arim-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/arim.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/arim-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/arim.jpg alt="Arim" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Arim Moon</b><br />3D&nbsp;Modeling,<br />Rendering
						</div>
					</div>
					<div>
						<div>
							<b>Designer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/nahyun-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/nahyun.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/nahyun-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/nahyun.jpg alt="Nahyun" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Nahyun Bae</b><br />UX/UI
						</div>
					</div>
					<div>
						<div>
							<b>Designer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/yerang-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/yerang.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/yerang-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/yerang.jpg alt="Yerang" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Yerang Yoon</b><br />UX/UI
						</div>
					</div>
					<div>
						<div>
							<b>Designer</b><br />
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/youngin-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/youngin.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/youngin-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/youngin.jpg alt="Youngin" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Youngin Sa</b><br />UX/UI<br />UX Research
						</div>
					</div>
					<div>
						<div>
							<p class="desktop" style="margin: 0"><b>Business Adminstrator</b></p>
							<p class="mobile" style="margin: 0"><b>Bus. Admin.</b></p>
							<picture>
								<source media="(max-width:720px)" data-srcset=./assets/images/eunji-s.webp type="image/webp" />
								<source media="(min-width:721px)" data-srcset=./assets/images/eunji.webp type="image/webp" />
								<source media="(max-width:720px)" data-srcset=./assets/images/eunji-s.jpg type="image/jpeg" />
								<img data-src=./assets/images/eunji.jpg alt="Eunji" style="width:auto;" class="lazyload" />
							</picture><br />
							<b>Eunji Choi</b><br />Business Administration
						</div>
					</div>
				</div>
			</div>
		</section>