<!-- Four -->
<head>
    <style>
        .grid-container {
            display: grid;
            align-content: start;
			justify-content: center;
			grid-template-columns: 50% 50%;
			grid-gap: 10px;
            }
        .grid-container > div {
            text-align: center;
			background: #115c87;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            }
		.grid-container > div > ul {
			padding: 8px;
			margin-bottom: 0px;
			}
    </style>
</head>
<section id="four" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Our Team</h2>
			<p>We are an international team from diverse backgrounds working together to design better user experiences for the world.</p>
		</header>
        <div class="grid-container">
            <div>
				<ul>
					<b>CEO</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/charlie-s.jpg />
						<img src=/assets/images/charlie.jpg alt="Charlie" style="width:auto;" />
					</picture><br />
					<b>Charlie Shin</b><br />Former&nbspBig&nbspData, Onse&nbspTelecom<br />MBA, University&nbspof Delaware
				</ul>
			</div>
            <div>
				<ul>
					<b>CTO</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/jaeseob-s.jpg />
						<img src=/assets/images/jaeseob.jpg alt="Jaeseob" style="width:auto;" />
					</picture><br />
					<b>Jaeseob Hwang</b><br />Former&nbspIntranet Solutions&nbspDev,<br />Ministry&nbspof National&nbspDefense
				</ul>
			</div>
		    <div>
				<ul>
					<b>Marketer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/jinston-s.jpg />
						<img src=/assets/images/jinston.jpg alt="Jinston" style="width:auto;" />
					</picture><br />
					<b>Jinston Chung</b><br />Marketing, Sales, Retail Analysis<br />BA Int’l Studies, Korea University
				</ul>
			</div>
            <div>
				<ul>
					<b>Developer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/khanh-s.jpg />
						<img src=/assets/images/khanh.jpg alt="Khanh" style="width:auto;" />
					</picture><br />
					<b>Vu Nam Khanh</b><br />iOS Dev<br />MS&nbspComputer Science, Yonsei&nbspUniversity
				</ul>
			</div>
			<div>
				<ul>
					<b>Developer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/jihye-s.jpg />
						<img src=/assets/images/jihye.jpg alt="Jihye" style="width:auto;" />
					</picture><br />
					<b>Jihye Kim</b><br />Facial&nbspRecognition, API&nbspDev
				</ul>
			</div>
			<div>
				<ul>
					<b>Developer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/jongmin-s.jpg />
						<img src=/assets/images/jongmin.jpg alt="Jongmin" style="width:auto;" />
					</picture><br />
					<b>Jongmin Park</b><br />Big&nbspData,<br />Analytics
				</ul>
			</div>
			<div>
				<ul>
					<b>Developer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/sangmo-s.jpg />
						<img src=/assets/images/sangmo.jpg alt="Sangmo" style="width:auto;" />
					</picture><br />
					<b>Sangmo Ku</b><br />Infrastructure,<br />Back-end&nbspDev
				</ul>
			</div>
			<div>
				<ul>
					<b>Designer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/arim-s.jpg />
						<img src=/assets/images/arim.jpg alt="Arim" style="width:auto;" />
					</picture><br />
					<b>Arim Moon</b><br />3D&nbspModeling,<br />Rendering
				</ul>
			</div>
			<div>
				<ul>
					<b>Designer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/nahyun-s.jpg />
						<img src=/assets/images/nahyun.jpg alt="Nahyun" style="width:auto;" />
					</picture><br />
					<b>Nahyun Bae</b><br />UX/UI
				</ul>
			</div>
			<div>
				<ul>
					<b>Designer</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/yerang-s.jpg />
						<img src=/assets/images/yerang.jpg alt="Yerang" style="width:auto;" />
					</picture><br />
					<b>Yerang Yoon</b><br />UX/UI, Web
				</ul>
			</div>
			<div>
				<ul>
					<b>Business Development</b><br />
					<picture>
						<source media="(max-width:720px)" srcset=/assets/images/jinsung-s.jpg />
						<img src=/assets/images/jinsung.jpg alt="Jin Sung" style="width:auto;" />
					</picture><br />
					<b>Jin Sung Kim</b><br />State University of New York at Buffalo
				</ul>
			</div>
		</div>
	</div>
</section>