<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>To offer the most effective tool to open a whole new world in vision</h2>
			<p>We are BluePrintLAB Inc. We specialize in 3D rendering, 3D facial scanning, and AI algorithms to develop solutions that fit. We have developed a cloud-based 3D rendering solution that allows custom products to be easily developed online through a web browser and 3D printed. We also developed a real-time virtual try-on iOS app that utilizes 3D face scanning and AI algorithms to accurately match and recommend frames to individuals face shapes. With our experience in the realms of 3D scanning, 3D rendering, AI algorithms, and 3D printing we can deliver a solution that will enhance the custom eyewear experience for your customers.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-desktop major style1"><span class="label">Computers</span></span>
			</li>
			<li><span class="icon fa-exchange major style2"><span class="label">connect with</span></span>
			</li>
			<li><span class="icon fa-user major style3"><span class="label">users</span></span>
			</li>
		</ul>
	</div>
</section>