/* Wrapper Pages and Posts */

.wrapper.page-post {
	background-color: rgba(255, 255, 255, 0.5);
	color: #094161;
}

	.wrapper.page-post strong, .wrapper.page-post b {
		color: #094161;
	}

	.wrapper.page-post h2, .wrapper.page-post h3, .wrapper.page-post h4, .wrapper.page-post h5, .wrapper.page-post h6 {
		color: #094161;
	}

	.wrapper.page-post hr {
		border-color: #dfdfdf;
	}

	.wrapper.page-post blockquote {
		border-color: #dfdfdf;
	}

	.wrapper.page-post code {
		background: rgba(0, 0, 0, 0.0375);
	}

	.wrapper.page-post header p {
		color: #8E8892;
	}

	.wrapper.page-post header.major h2, .wrapper.page-post header.major h3, .wrapper.page-post header.major h4, .wrapper.page-post header.major h5, .wrapper.page-post header.major h6 {
		border-color: #dfdfdf;
	}

	.wrapper.page-post header.major p {
		color: #094161;
	}

	.wrapper.page-post label {
		color: #094161;
	}

	.wrapper.page-post input[type="text"],
	.wrapper.page-post input[type="password"],
	.wrapper.page-post input[type="email"],
	.wrapper.page-post select,
	.wrapper.page-post textarea {
		background: rgba(144, 144, 144, 0.25);
	}

	.wrapper.page-post .select-wrapper::before {
		color: #dfdfdf;
	}

	.wrapper.page-post input[type="checkbox"] + label,
	.wrapper.page-post input[type="radio"] + label {
		color: #000000;
	}

		.wrapper.page-post input[type="checkbox"] + label::before,
		.wrapper.page-post input[type="radio"] + label::before {
			background: rgba(144, 144, 144, 0.25);
		}

	.wrapper.page-post input[type="checkbox"]:checked + label::before,
	.wrapper.page-post input[type="radio"]:checked + label::before {
		background: #1f8dcc;
		color: #ffffff;
	}

	.wrapper.page-post ::-webkit-input-placeholder {
		color: #1f8dcc !important;
		font-weight: bold;
	}

	.wrapper.page-post :-moz-placeholder {
		color: #1f8dcc !important;
		font-weight: bold;
	}

	.wrapper.page-post ::-moz-placeholder {
		color: #1f8dcc !important;
		font-weight: bold;
	}

	.wrapper.page-post :-ms-input-placeholder {
		color: #1f8dcc !important;
		font-weight: bold;
	}

	.wrapper.page-post .formerize-placeholder {
		color:#1f8dcc !important;
		font-weight: bold;
	}

	.wrapper.page-post .icon.major {
		border-color: #dfdfdf;
	}

	.wrapper.page-post ul.alt li {
		border-color: #dfdfdf;
	}

	.wrapper.page-post table tbody tr {
		border-color: #dfdfdf;
	}

		.wrapper.page-post table tbody tr:nth-child(2n + 1) {
			background-color: rgba(0, 0, 0, 0.0375);
		}

	.wrapper.page-post table th {
		color: #094161;
	}

	.wrapper.page-post table thead {
		border-color: #dfdfdf;
	}

	.wrapper.page-post table tfoot {
		border-color: #dfdfdf;
	}

	.wrapper.page-post table.alt tbody tr td {
		border-color: #dfdfdf;
	}

	.wrapper.page-post input[type="submit"],
	.wrapper.page-post input[type="reset"],
	.wrapper.page-post input[type="button"],
	.wrapper.page-post button,
	.wrapper.page-post .button {
		box-shadow: inset 0 0 0 2px #dfdfdf;
		color: #094161;
	}

		.wrapper.page-post input[type="submit"]:hover,
		.wrapper.page-post input[type="reset"]:hover,
		.wrapper.page-post input[type="button"]:hover,
		.wrapper.page-post button:hover,
		.wrapper.page-post .button:hover {
			background-color: rgba(0, 0, 0, 0.0375);
		}

		.wrapper.page-post input[type="submit"]:active,
		.wrapper.page-post input[type="reset"]:active,
		.wrapper.page-post input[type="button"]:active,
		.wrapper.page-post button:active,
		.wrapper.page-post .button:active {
			background-color: rgba(0, 0, 0, 0.1);
		}

	@media screen and (max-width: 736px) {

		.wrapper.page-post .features li {
			border-top-color: #dfdfdf;
		}

	}
