/* Responsive iFrame Vertical*/

	.resp-containerV {
		position: relative;
		overflow: hidden;
		padding-top: 55vh;
	}
	
	.resp-iframeV {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: 100%;
		border: 0;
	}