<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="preload" href="{{ "/assets/css/home.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}" /></noscript>
    </head>
    <body class="landing">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJHC5Q4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include header.html %}
        <!-- Page Wrapper -->
        <main id="page-wrapper">
        {% include banner.html %}
        {% include about-us.html %}
        {% include capabilities.html %}
        {% include current-works.html %}
        {% include cta.html %}
        {% include footer.html %}
        </main>
        <!-- End Page Wrapper -->
    </body>
</html>