<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="preload" href="{{ "/assets/css/home.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}" /></noscript>
    </head>
    <body class="landing">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJHC5Q4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include header.html %}
        <!-- Page Wrapper -->
        <main id="page-wrapper">
        {% include banner.html %}
        {% include about-us.html %}
        {% include capabilities.html %}
        {% include current-works.html %}
        {% include cta.html %}
        {% include footer.html %}
        <script>
			$(function() {

                $('.scroll-effect1').scrollex({

                    // Scroll event: Perform various CSS tweaks based on the user's progress through this element.
                    scroll: function(progress) {

                        var $this = $(this),
                            $inner = $this.find('.inner'),
                            $button = $this.find('.mobile-float'),
                            x;
                        
                            // Progress decreases after half-point
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;
                            
                            // Responsive height adjustment
                            x = Math.max(0, Math.min(1, x * ($this.height() / window.innerHeight * 2.8)));

                            // Opacity.

                            $this.css('opacity', x);
                            $button.css('opacity', x);

                            // Scale.

                            $inner
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                            $button
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                            // Change z-index multiplier if you want higher than 1
                            $button.css('z-index', x * 3);

                        }

                });

                $('.scroll-effect2').scrollex({

                    // Scroll event: Perform various CSS tweaks based on the user's progress through this element.
                    scroll: function(progress) {

                        var $this = $(this),
                            $inner = $this.find('.inner'),
                            x;
                        
                            // No progress decrease
                            x = progress;

                            // Responsive height adjustment
                            x = Math.max(0, Math.min(1, x * ($this.height() / window.innerHeight * 3.8)));

                            // Opacity.

                            $this.css('opacity', x);

                            // Scale.
                            
                            $inner
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                        }

                });

            });
        </script>
        </main>
        <!-- End Page Wrapper -->
    </body>
</html>