<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="preload" href="{{ "/assets/css/home.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/landing.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/landing.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/banner.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/banner.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/spotlight.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/spotlight.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/cta.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/cta.css" | relative_url }}" /></noscript>
    </head>
    <body class="landing">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJHC5Q4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include header.html %}
        {% include banner.html %}
        {% include section-1.html %}
        {% include section-2.html %}
        {% include section-3.html %}
        {% include section-4.html %}
        {% include cta.html %}
        {% include footer.html %}
    </body>
</html>