<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="preload" href="{{ "/assets/css/page-post.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/page-post.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/spotlight.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/spotlight.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/form.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/form.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/sent.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/sent.css" | relative_url }}" /></noscript>
    </head>
    <body>
        {% include header.html %}
        <!-- Main -->
        <article id="main">
            <header{% if page.image %} style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('{{ "" | absolute_url }}/assets/images/{{ page.image }}');"{% endif %}>
                <h2>{{ page.title }}</h2>
                <p>{{ page.description }}</p>
            </header>
            <section class="wrapper page-post">
                <div class="inner">
                    {{ content }}
                </div>
            </section>
        </article>
        {% include footer.html %}
    </body>
</html>