<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="preload" href="{{ "/assets/css/page-post.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/page-post.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/page.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/page.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}" /></noscript>
    </head>
    <body>
        {% include header.html %}
        <!-- Page Wrapper -->
        <main id="page-wrapper">
            <!-- Main -->
            <article id="main">
                <header>
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.description }}</p>
                    {% if page.image %}<br />
                    <picture>
                        <source srcset="{{ "" | absolute_url }}/assets/images/{{ page.webp }}" type="image/webp">
                        <source srcset="{{ "" | absolute_url }}/assets/images/{{ page.image }}" type="image/jpeg">
                        <img src="{{ "" | absolute_url }}/assets/images/{{ page.image }}" alt="{{ page.title }}" class="headline-image">
                    </picture>{% endif %}
                </header>
                <section class="wrapper page-post page">
                    <div class="inner">
                        {{ content }}
                    </div>
                </section>
            </article>
        {% include footer.html %}
        </main>
        <!-- End Page Wrapper -->
    </body>
</html>