<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="preload" href="{{ "/assets/css/page-post.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/page-post.css" | relative_url }}" /></noscript>
    </head>
    <body>
        {% include header.html %}
        <!-- Main -->
        <article id="main">
            <header>
                <h2>{{ page.title }}</h2>
                <p>{{ page.description }}</p>
                {% if page.image %}<br>
                <picture>
                    <source srcset="{{ "" | absolute_url }}/assets/images/{{ page.webp }}" type="image/webp">
                    <source srcset="{{ "" | absolute_url }}/assets/images/{{ page.image }}" type="image/jpeg">
                    <img src="{{ "" | absolute_url }}/assets/images/{{ page.image }}" alt="{{ page.title }}" class="headline-image">
                </picture>{% endif %}
            </header>
            <section class="wrapper page-post">
                <div class="inner post">
                    {{ content }}
                </div>
            </section>
        </article>
		<a href="{{site.baseurl}}/news" class="button special small post-end">News</a>
        {% include footer.html %}
        </div>
    </body>
</html>