<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include headt.html %}
        <link rel="preload" href="{{ "/assets/css/homet.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/homet.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/landing.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/landing.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/bannert.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/bannert.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/spotlightt.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/spotlightt.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/cta.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/cta.css" | relative_url }}" /></noscript>
    </head>
    <body class="landing">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJHC5Q4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include headert.html %}
        {% include bannert.html %}
        {% include about-us.html %}
        {% include capabilities.html %}
        {% include current-works.html %}
        {% include ctat.html %}
        {% include footer.html %}
    </body>
</html>