<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include headt.html %}
        <link rel="preload" href="{{ "/assets/css/homet.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/homet.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/landingt.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/landingt.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/bannert.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/bannert.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/floating-borders.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/floating-borders.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/about-us.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/about-us.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/capabilities.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/capabilities.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/current-works.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/current-works.css" | relative_url }}" /></noscript>
        <link rel="preload" href="{{ "/assets/css/ctat.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="{{ "/assets/css/ctat.css" | relative_url }}" /></noscript>
    </head>
    <body class="landing">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJHC5Q4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include headert.html %}
        {% include bannert.html %}
        {% include about-us.html %}
        {% include capabilities.html %}
        {% include current-works.html %}
        {% include ctat.html %}
        {% include footer.html %}
        <script>
			$(function() {

                $('#about-us').scrollex({

                    // Scroll event: Perform various CSS tweaks based on the user's progress through this element.
                    scroll: function(progress) {

                        var $this = $(this),
                            $inner = $this.find('.inner'),
                            x;
                        
                            // Opacity.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 2));

                            $this.css('opacity', x);
                            $inner.css('opacity', x);

                            // Scale.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 2));

                            $inner
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                        }

                    });

                $('#capabilities').scrollex({

                    // Scroll event: Perform various CSS tweaks based on the user's progress through this element.
                    scroll: function(progress) {

                        var $this = $(this),
                            $inner = $this.find('.inner'),
                            $button = $this.find('.mobile-float'),
                            x;
                        
                            // Opacity.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 9));

                            $inner.css('opacity', x);
                            $button.css('opacity', x);
                            $button.css('z-index', 3);

                            // Scale.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 9));

                            $inner
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                            
                            $button
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                            // Z-index.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(3, x * 2));

                            $button.css('z-index', x);

                        }

                });

                $('#current-works').scrollex({

                    // Scroll event: Perform various CSS tweaks based on the user's progress through this element.
                    scroll: function(progress) {

                        var $this = $(this),
                            $inner = $this.find('.inner'),
                            $button = $this.find('.mobile-float'),
                            x;

                            // Opacity.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 9));

                            $inner.css('opacity', x);
                            $button.css('opacity', x);

                            // Scale.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 9));

                            $inner
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                            $button
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                            // Z-index.
                            if (progress > 0.5)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(3, x * 2));

                            $button.css('z-index', x);

                        }

                });

                $('#cta').scrollex({

                    // Scroll event: Perform various CSS tweaks based on the user's progress through this element.
                    scroll: function(progress) {

                        var $this = $(this),
                            $inner = $this.find('.inner'),
                            x;
                        
                            // Opacity.
                            if (progress > 0.8)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 2));

                            $this.css('opacity', x);
                            $inner.css('opacity', x);

                            // Scale.
                            if (progress > 0.8)
                                x = 1 - progress;
                            else
                                x = progress;

                            x = Math.max(0, Math.min(1, x * 2));

                            $inner
                                .css('-moz-transform', 'scale(' + x + ')')
                                .css('-webkit-transform', 'scale(' + x + ')')
                                .css('-o-transform', 'scale(' + x + ')')
                                .css('-ms-transform', 'scale(' + x + ')')
                                .css('transform', 'scale(' + x + ')');

                        }

                });

            });
        </script>
        </div>
    </body>
</html>